{% extends 'index.html' %}
{% load tags %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <p class="h1">
                List of Email Tasks
            </p>
        </div>

        {% for email_task in email_tasks %}

            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <h3 class="card-title">{{ email_task.name }}</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-gradient-navy"><i
                                                class="far fa-clock"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Created At</span>
                                            <span class="info-box-number">{{ email_task.created_at }}</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-gradient-green"><i
                                                class="far fa-clock"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Completed At</span>
                                            <span class="info-box-number">
                                                {% if email_task.completed_at %}
                                                    {{ email_task.completed_at }}
                                                {% else %}
                                                    <p class="lead">
                                                    Not yet completed
                                                    </p>
                                                {% endif %}
                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-gradient-dark"><i class="far fa-check-circle"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Successful Jobs</span>
                                            <span class="info-box-number">{{ email_task.id|get_successful_jobs }}</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-gradient-navy"><i
                                                class="fa fa-list"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Total Jobs</span>
                                            <span class="info-box-number">{{ email_task.total_jobs }}</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-gradient-green"><i class="fa fa-tasks"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Completed Jobs</span>
                                            <span class="info-box-number">{{ email_task.completed_jobs }}</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-gradient-indigo"><i
                                                class="far fa-file"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">CSV File</span>
                                            <span class="info-box-number">
                                                <a href="{{ email_task.csv_file.url }}" target="_blank">
                                                    {{ email_task.csv_file.name }}
                                                </a>

                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                            </div>

                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Attachments</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                                title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th>File Size</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for attachment in email_task.attachments.all %}
                                            <tr>
                                                <td>{{ attachment.file.name }}</td>
                                                <td>{{ attachment.file.size }}&nbsp;kb</td>
                                                <td class="text-right py-0 align-middle">
                                                    <div class="btn-group btn-group-sm">
                                                        <a href="{{ attachment.file.url }}" target="_blank"
                                                           class="btn btn-info"><i
                                                                class="fas fa-eye"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>


                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Email Jobs</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                                title="Collapse">

                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i
                                                class="fas fa-expand"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body p-2" style="overflow:scroll">
                                    <table class="table table-responsive-lg table-bordered email_jobs_table"
                                           style="table-layout: fixed; width: 200%">
                                        <thead>
                                        <tr>
                                            <th>receiver</th>
                                            <th>cc</th>
                                            <th>bcc</th>
                                            <th>subject</th>
                                            <th>message</th>
                                            <th>scheduled at</th>
                                            <th>completed at</th>
                                            <th>status</th>
                                            <th>attachment</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for email_job in email_task.jobs.all %}
                                            <tr>
                                                <td>
                                                    {{ email_job.receiver }}
                                                </td>
                                                <td>{{ email_job.cc }}</td>
                                                <td>{{ email_job.bcc }}</td>
                                                <td style="word-wrap: break-word">{{ email_job.subject }}</td>
                                                <td style="word-wrap: break-word">{{ email_job.message|truncatechars:20 }}</td>
                                                <td>{{ email_job.scheduled_at }}</td>
                                                <td>{{ email_job.completed_at }}</td>
                                                <td>{{ email_job.status }}</td>
                                                <td>
                                                    {{ email_job.attachment }}
                                                </td>
                                            </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>


                        </div>
                        <!-- /.card-body -->
                    </div>


                </div>
            </div>

        {% endfor %}
    </div>



{% endblock content %}


{% block script %}
    <script>

        $(document).ready(function () {
            $('.email_jobs_table').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                {#"responsive": true,#}
            });
        });

    </script>
{% endblock script %}