{% extends "index.html" %}

{% block content %}
    <div class="container">
        <div class="row mt-5 mb-3">
            <p class="h1">
                Create a New Email Task
            </p>
        </div>
        <div class="container">
            <form action="{% url 'email-task-create' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="task_name">
                        Email Task Name
                    </label>
                    <input type="text" id="task_name" name="task_name" class="form-control">
                </div>


                <div class="form-group row">
                    <label for="csvInputFile">Data upload</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input name="csv_file" type="file"
                                   accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                   class="custom-file-input" id="csvInputFile">
                            <label class="custom-file-label" for="csvInputFile">Choose CSV file</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="attachmentInputFile">Attachments upload</label>
                    <div class="input-group">
                        <input type="file" name="attachments" multiple>
                    </div>
                </div>

                <div class="form-group row-cols-2">
                    <input type="submit" class="btn btn-primary">
                </div>

            </form>
        </div>
    </div>
{% endblock content %}